<!-- days_of_week partial start -->
            <label for="form-month-days-{{ name }}">{{ label }}</label>
            <select class="form-control custom-select  {{ class }}" id="form-month-days-{{ name }}" name="{{ name }}" disabled>
                        <option value="SU">Sunday</option>
                        <option value="MO">Monday</option>
                        <option value="TU">Tuesday</option>
                        <option value="WE">Wednesday</option>
                        <option value="TH">Thursday</option>
                        <option value="FR">Friday</option>
                        <option value="SA">Saturday</option>
                        <option value="SU,MO,TU,WE,TH,FR,SA">Day</option>
                        <option value="MO,TU,WE,TH,FR">Weekday</option>
                        <option value="SU,SA">Weekend day</option>
            </select>
<!-- days_of_week partial end -->