<!-- weekdaypicker partial start -->
            <label for="bymonthday">{{ label }}</label>
            <fieldset class="btn-group" data-toggle="buttons">
                <label class="btn btn-default"><input type="checkbox" class="{{ class }}" name="{{ name }}[]" value="SU" disabled>Sun</label>
                <label class="btn btn-default"><input type="checkbox" class="{{ class }}" name="{{ name }}[]" value="MO" disabled>Mon</label>
                <label class="btn btn-default"><input type="checkbox" class="{{ class }}" name="{{ name }}[]" value="TU" disabled>Tue</label>
                <label class="btn btn-default"><input type="checkbox" class="{{ class }}" name="{{ name }}[]" value="WE" disabled> Wed</label>
                <label class="btn btn-default"><input type="checkbox" class="{{ class }}" name="{{ name }}[]" value="TH" disabled> Thu</label>
                <label class="btn btn-default"><input type="checkbox" class="{{ class }}" name="{{ name }}[]" value="FR" disabled> Fri</label>
                <label class="btn btn-default"><input type="checkbox" class="{{ class }}" name="{{ name }}[]" value="SA" disabled> Sat</label>
            </fieldset>
<!-- weekdaypicker partial end -->