
<div id="answer">
{{ __SELF__.rdate }}
</div>


<form data-request="onProcess">


<div class="form-horizontal container scheduler" data-initialize="scheduler" role="form" id="myScheduler">

    {% if not is_copy %}<input type="hidden" name="id" value="{{ __SELF__.myevent.id  }}">{% endif %}

    <div class="row">
<!-- Date -->
        <div class="col-md-4 form-group">
{% partial '@datepicker' name='date' value=__SELF__.myevent.date label=__SELF__.trans('event.date') %}
        </div>
<!-- Time -->
        <div class="col-md-4 form-group"
            data-field-name="time"
            id="Form-field-Event-time-group">
{% partial '@clockpicker' name='time' value=__SELF__.myevent.time label=__SELF__.trans('event.time') %}
        </div>
    </div>







<!-- Timezone -->
    <div class="row">
        <div class="col-md-6 form-group">
{% partial '@timezone' name='timezone' value='' label='timezone' %}
        </div>
    </div>





<!-- INTERVAL -->
    <div class="row">
<!-- Repeat -->
        <div class="col-md-3 form-group">
            <label for="form-repeat">Repeat</label>
            <select class="form-control custom-select" id="form-repeat" name="FREQ" onchange="repeatChange()">
                <option value="none">None (run once)</option>
                <option value="hourly">Hourly</option>
                <option value="daily">Daily</option>
                <option value="weekdays">Weekdays</option>
                <option value="weekly">Weekly</option>
                <option value="monthly">Monthly</option>
                <option value="yearly">Yearly</option>
            </select>
        </div>

        <div class="col-md-2 form-group hidden r_all r_hourly r_daily r_weekly r_monthly">
{% partial '@number_spin' max=365 name='INTERVAL' class='r_all r_hourly r_daily r_weekly r_monthly'
    value=__SELF__.myevent.INTERVAL 
    label=__SELF__.trans('event.INTERVAL') %}
            <p class="inline-text hidden r_all r_hourly">hours(s)</p>
            <p class="inline-text hidden r_all r_daily">days(s)</p>
            <p class="inline-text hidden r_all r_weekly">week(s)</p>
            <p class="inline-text hidden r_all r_monthly">month(s)</p>
        </div>
    </div>

<!-- BYDAY -->
    <div class="row hidden r_all r_weekly">
        <div class="col-md-8 form-group">
{% partial '@weekdaypicker' name='BYDAY' class='r_all r_weekly' value='' label='BYDAY' %}
        </div>
    </div>





<!-- Month On -->
    <div class="row hidden r_all r_monthly">
        <div class="col-md-3 form-group">
            <label for="form-month-on">month_on</label>
            <select class="form-control custom-select r_all r_monthly" id="form-month-on" name="month_on" onchange="monthOnChange()">
                <option value="">- Pick One -</option>
                <option value="on_day">On Day</option>
                <option value="on_the">On The</option>
            </select>
        </div>

<!-- BYMONTHDAY -->
        <div class="col-md-6 form-group mo_all mo_on_day">
{% partial '@number_spin' max=31 name='BYMONTHDAY' class='mo_all mo_on_day'
value=__SELF__.myevent.BYMONTHDAY 
label='BYMONTHDAY' %}
        </div>

<!-- year-month-day-pos -->
        <div class="col-md-3 form-group hidden mo_all mo_on_the">
{% partial '@dayposition' name='BYSETPOS' class='mo_all mo_on_the'
value='' 
label='BYSETPOS' %}
        </div>
<!-- Timezone -->
        <div class="col-md-4 form-group hidden mo_all mo_on_the">
{% partial '@days_of_week' name='BYDAY' class='mo_all mo_on_the'
value='' 
label='BYDAY' %}
        </div>
    </div>





<!-- Month On -->
    <div class="row hidden r_all r_yearly">
        <div class="col-md-3 form-group">
            <label for="form-year-on"></label>
            <select class="form-control custom-select r_all r_yearly" id="form-year-on" name="year_on" onchange="yearOnChange()">
                <option value="on_day">On Day</option>
                <option value="on_the">On The</option>
            </select>
        </div>

<!-- BYMONTH -->
        <div class="col-md-6 form-group hidden yr_all yr_on_day">
{% partial '@month_picker' name='BYMONTH' class='yr_all yr_on_day'
value='' 
label='' %}
        </div>

<!-- BYMONTHDAY -->
        <div class="col-md-6 form-group yr_all yr_on_day">
{% partial '@number_spin' max=31  class='yr_all yr_on_day'
name='BYMONTHDAY' 
value=__SELF__.myevent.BYMONTHDAY 
label='' %}
        </div>

<!-- BYSETPOS -->
        <div class="col-md-2 form-group hidden yr_all yr_on_the">
{% partial '@dayposition' class='yr_all yr_on_the'
name='BYSETPOS' 
value='' 
label=' ' %}
        </div>
<!-- BYDAY -->
        <div class="col-md-2 form-group hidden yr_all yr_on_the">
{% partial '@days_of_week' class='yr_all yr_on_the'
name='BYDAY' 
value='' 
label=' ' %}
        </div>
<!-- BYMONTH -->
        <div class="col-md-2 form-group hidden yr_all yr_on_the">
{% partial '@month_picker' class='yr_all yr_on_the'
name='BYMONTH' 
value='' 
label='' %}
        </div>
    </div>










<!--  -->
    <div class="row hidden r_all r_hourly r_daily r_weekdays r_weekly">
        <div class="col-md-12 form-group">
            <hr />
        </div>
    </div>

<!-- Ends -->
    <div class="row hidden r_all r_hourly r_daily r_weekdays r_weekly r_monthly r_yearly">
        <div class="col-md-6 form-group">
            <label for="form-Ends">Ends</label>
            <select class="form-control custom-select  r_all r_hourly r_daily r_weekdays r_weekly r_monthly r_yearly" id="form-Ends" name="Ends" onchange="endsChange()">
                <option value="never">Never</option>
                <option value="after">After</option>
                <option value="date">On date</option>
            </select>
            <p></p>
        </div>


        <div class="col-md-2 hidden e_all e_after form-group ">
{% partial '@number_spin' max=100 class='e_all e_after'
name='COUNT' 
value=__SELF__.myevent.end_after 
label=__SELF__.trans('event.end_after') %}
            <p class="inline-text">occurrence(s)</p>
        </div>


        <div class="col-md-4 hidden e_all e_date form-group">
{% partial '@datepicker' class='e_all e_date'
name='ENDON'
value=__SELF__.myevent.date label=__SELF__.trans('event.date') %}
        </div>


    </div>


<!-- Timezone -->
    <div class="row">
        <div class="col-md-6 form-group">

            <input type="hidden" id= "rrule" name="RRULE" value=""></input>
            <button type="submit" onclick="disableHidden();"> Submit</button>
        </div>
    </div>
</div>
</form>